*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Poppins';            
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(/images/background.jpg) ;
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 580px;
    background: black;
    border-radius: 1.5cm;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}
.todo h2{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;

}
#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: #fcf2f2;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.1rem;
}

#new-task-input::placeholder {
	color: gray;
}

#new-task-submit {
	color: rgb(0, 5, 8);
	font-size: 1.3rem;
	font-weight: 600;
	background-color: rgb(159, 180, 250);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 1;
}

#new-task-submit:active {
	opacity: 0.6;
}

.task-list {
	padding: 20px;
}

.task-list h2 {
	font-size: 1.1rem;
	font-weight: 200;
	color: black;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 15px;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: black;
	font-size: 1.1rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.1rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: rgb(20, 140, 220);
}


@media(max-width:998px){
    html{
        font-size: 85%;
    }
}

@media(max-width:768px){
    html{
        font-size: 75%;
    }
}